openapi: 3.2.0
info:
  title: Powernaut Accepting Bids API
  version: 1.0.0
  contact:
    name: Powernaut Support
    url: https://powernaut.io
    email: support@powernaut.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
  description: 'Operations tagged accepting_bids across 13 of this provider''s published API definitions: powernaut-authentication-api-openapi.yml, powernaut-baselining-api-openapi.yml, powernaut-creating-bids-api-openapi.yml, powernaut-events-api-openapi.yml, powernaut-getting-forecasts-api-openapi.yml, powernaut-historical-data-api-openapi.yml, powernaut-managing-bids-api-openapi.yml, powernaut-markets-api-openapi.yml, powernaut-metrics-api-openapi.yml, powernaut-resources-api-openapi.yml, powernaut-sensor-data-api-openapi.yml, powernaut-sites-api-openapi.yml, powernaut-uploading-forecasts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sandbox.powernaut.io
  description: Sandbox
- url: https://api.powernaut.io
  description: Production
tags:
- name: accepting_bids
paths: {}
webhooks:
  bidAccepted:
    post:
      operationId: WebhookBidAccepted
      description: 'During bidding, you can set a webhook to receive activation events on.


        ### Fetching details


        To make webhooks easy to implement, while also being secure, a webhook contains only a single reference to the bid that was accepted. You should use this reference to fetch the activation details by looking up the accepted bid.


        See [this endpoint](#tag/managing_bids/operation/GetBid) for details on how to look up activation details.


        ### Retries


        You should reply with a `2XX` status code, indicating you have successfully activated the asset.

        You can also reply with a `406` status code if you notice that the activation cannot be delivered upon for some reason (e.g. a suddenly disconnected car).


        We will retry your webhook up to 3 times in case you:


        1. Do not reply with a `2XX` or `406` status code or,

        2. We do not get a successful reply within 5 seconds


        Our portal shows a log of both successful and failed webhook calls.


        '
      summary: Receive an accepted bid
      tags:
      - accepting_bids
      security: []
      parameters:
      - name: X-Powernaut-Webhook-Version
        description: A version indicator for this webhook, used to track changes to the webhook implementation. At the moment, this is always `v1`.
        example: v1
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidAcceptedDto'
      responses:
        '202':
          description: Successfully processed
    servers:
    - url: https://api.sandbox.powernaut.io
      description: Sandbox
    - url: https://api.powernaut.io
      description: Production
components:
  securitySchemes:
    cloud-cloud:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: A bearer token obtained from the token endpoint.
    token:
      type: http
      scheme: basic
      description: Your client id and secret to obtain a bearer token for cloud-cloud authentication.
    edge-cloud:
      type: http
      scheme: basic
      description: Basic credentials used for edge-cloud authentication. They can be obtained when creating a site.
x-refined-from:
- powernaut-authentication-api-openapi.yml
- powernaut-baselining-api-openapi.yml
- powernaut-creating-bids-api-openapi.yml
- powernaut-events-api-openapi.yml
- powernaut-getting-forecasts-api-openapi.yml
- powernaut-historical-data-api-openapi.yml
- powernaut-managing-bids-api-openapi.yml
- powernaut-markets-api-openapi.yml
- powernaut-metrics-api-openapi.yml
- powernaut-resources-api-openapi.yml
- powernaut-sensor-data-api-openapi.yml
- powernaut-sites-api-openapi.yml
- powernaut-uploading-forecasts-api-openapi.yml
x-tagGroups:
- name: Authentication
  tags:
  - authentication
- name: Managing resources
  tags:
  - sites
  - resources
- name: Markets
  tags:
  - markets
- name: Reporting flexibility
  tags:
  - baselining
  - creating_bids
  - metrics
- name: Activating flexibility
  tags:
  - accepting_bids
- name: Managing bids
  tags:
  - managing_bids
- name: Forecasting
  tags:
  - getting_forecasts
  - uploading_forecasts
  - events
- name: Sensor data
  tags:
  - sensor_data
- name: Historical Data
  tags:
  - historical_data
