openapi: 3.2.0
info:
  title: Powernaut Metrics API
  description: '# Getting Started


    Welcome to the Powernaut API Reference!'
  version: 1.0.0
  contact:
    name: Powernaut Support
    url: https://powernaut.io
    email: support@powernaut.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.sandbox.powernaut.io
  description: Sandbox
- url: https://api.powernaut.io
  description: Production
tags:
- name: Metrics
  description: Metrics reported by resources and sites
  x-displayName: Metrics
paths:
  /v1/connect/sites/{id}/metrics:
    get:
      description: Retrieves the actual real-time data for this site
      operationId: ActualPowerMetricsSite
      parameters:
      - name: id
        required: true
        in: path
        description: Identifier of the site you want to get real-time data for.
        schema:
          type: string
          format: uuid
      - name: start
        required: true
        in: query
        description: 'Start of window (ISO 8601). Must be a perfect minute without seconds or milliseconds precision.


          **Note**: To avoid timezone issues, we perform an additional check for the presence of timezone information. You should always include either UTC with `Z`, or an offset like `+01:00`.'
        schema:
          type: string
      - name: amount
        required: true
        in: query
        description: Number of timesteps to be included in the time window.
        schema:
          minimum: 1
          maximum: 48
          type: number
      - name: granularity
        required: true
        in: query
        description: 'The granularity to fetch the state for, i.e. the time length of each element.


          It cannot be smaller than 1 minute, and cannot contain sub-minute precision.


          The expected format is <a href="https://en.wikipedia.org/wiki/ISO_8601#Durations" target="_blank">ISO8601</a>.'
        schema:
          type: string
      responses:
        '200':
          description: Real-time data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionDto'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenExceptionDto'
        '404':
          description: Site does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundDto_U2l0ZSBkb2VzIG5vdCBleGlzdA'
      security:
      - cloud-cloud: []
      summary: Real-time data
      tags:
      - Metrics
components:
  schemas:
    MetricsDto:
      type: object
      properties:
        items:
          type: array
          description: 'The real-time data, in kilowatts (kW).


            The length of the list corresponds to the amount of intervals requested. The granularity of the data is the same as the one requested.


            A `null` value indicates that no data was available for that interval.'
          example:
          - '5.1'
          - '5.2'
          - null
          - '5.3'
          maxItems: 48
          minItems: 1
          items:
            type:
            - string
            - 'null'
            format: decimal
            pattern: ^-?[0-9]{1,15}(.[0-9]{1,6}?)$
      required:
      - items
    ForbiddenExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example: Insufficient permissions
        error:
          type: string
          description: Forbidden
          example: Forbidden
        status_code:
          type: number
          description: '403'
          example: 403
      required:
      - message
      - error
      - status_code
    NotFoundDto_U2l0ZSBkb2VzIG5vdCBleGlzdA:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example: Site does not exist
        error:
          type: string
          description: Not Found
          example: Not Found
        status_code:
          type: number
          description: '404'
          example: 404
      required:
      - message
      - error
      - status_code
    UnauthorizedExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example: Unauthorized
        error:
          type: string
          description: Unauthorized
          example: Unauthorized
        status_code:
          type: number
          description: '401'
          example: 401
      required:
      - message
      - error
      - status_code
    BadRequestExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example:
          - Invalid datetime
          - Invalid page size
        error:
          type: string
          description: Bad Request
          example: Bad Request
        status_code:
          type: number
          description: '400'
          example: 400
      required:
      - message
      - error
      - status_code
  securitySchemes:
    cloud-cloud:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: A bearer token obtained from the token endpoint.
    token:
      type: http
      scheme: basic
      description: Your client id and secret to obtain a bearer token for cloud-cloud authentication.
    edge-cloud:
      type: http
      scheme: basic
      description: Basic credentials used for edge-cloud authentication. They can be obtained when creating a site.
x-tagGroups:
- name: Authentication
  tags:
  - authentication
- name: Managing resources
  tags:
  - sites
  - resources
- name: Markets
  tags:
  - markets
- name: Reporting flexibility
  tags:
  - baselining
  - creating_bids
  - metrics
- name: Activating flexibility
  tags:
  - accepting_bids
- name: Managing bids
  tags:
  - managing_bids
- name: Forecasting
  tags:
  - getting_forecasts
  - uploading_forecasts
  - events
- name: Sensor data
  tags:
  - sensor_data
- name: Historical Data
  tags:
  - historical_data
