openapi: 3.2.0
info:
  title: Powernaut Events API
  description: '# Getting Started


    Welcome to the Powernaut API Reference!'
  version: 1.0.0
  contact:
    name: Powernaut Support
    url: https://powernaut.io
    email: support@powernaut.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.sandbox.powernaut.io
  description: Sandbox
- url: https://api.powernaut.io
  description: Production
tags:
- name: Events
  description: 'Events are EMS-initiated control actions that deviate from a resource''s default behaviour (e.g. PV curtailment due to negative tariffs).


    Reporting these events helps us maintain clean training data for more accurate forecasting.


    See the guide for more information.'
  x-displayName: Events
paths:
  /v1/connect/resources/{id}/events:
    post:
      description: 'Reports a new event for the specified resource.

        - `PV_CURTAILMENT_SCHEDULED`: report periods of PV curtailment

        - `MFRR_ACTIVATION`: report mFRR pool curtailment dispatched to a gateway'
      operationId: ReportEvent
      parameters:
      - name: id
        required: true
        in: path
        description: Identifier of the resource to report the event for.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceEventDto'
      responses:
        '201':
          description: Event reported successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionDto'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenExceptionDto'
      security:
      - edge-cloud: []
      - cloud-cloud: []
      summary: Report event
      tags:
      - Events
components:
  schemas:
    CreateResourceEventDto:
      type: object
      properties:
        event_type:
          type: string
          description: 'Type of events

            - `PV_CURTAILMENT_SCHEDULED`: report periods of PV curtailment

            - `MFRR_ACTIVATION`: report mFRR pool curtailment dispatched to a gateway'
          enum:
          - PV_CURTAILMENT_SCHEDULED
          - MFRR_ACTIVATION
          example: PV_CURTAILMENT_SCHEDULED
        payload:
          description: Event-specific payload data, usually a time window.
          allOf:
          - $ref: '#/components/schemas/PVCurtailmentScheduledPayloadDto'
      required:
      - event_type
      - payload
    PVCurtailmentScheduledPayloadDto:
      type: object
      properties:
        start:
          type: string
          description: Start time of the action. Should be a perfect quarter-hour.
          example: '2025-09-19T12:30:00Z'
          format: date-time
        end:
          type: string
          description: End time of the action. Should be a perfect quarter-hour.
          example: '2025-09-19T14:00:00Z'
          format: date-time
      required:
      - start
      - end
    ForbiddenExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example: Insufficient permissions
        error:
          type: string
          description: Forbidden
          example: Forbidden
        status_code:
          type: number
          description: '403'
          example: 403
      required:
      - message
      - error
      - status_code
    UnauthorizedExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example: Unauthorized
        error:
          type: string
          description: Unauthorized
          example: Unauthorized
        status_code:
          type: number
          description: '401'
          example: 401
      required:
      - message
      - error
      - status_code
    BadRequestExceptionDto:
      type: object
      properties:
        message:
          description: One or more specific error messages
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          example:
          - Invalid datetime
          - Invalid page size
        error:
          type: string
          description: Bad Request
          example: Bad Request
        status_code:
          type: number
          description: '400'
          example: 400
      required:
      - message
      - error
      - status_code
  securitySchemes:
    cloud-cloud:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: A bearer token obtained from the token endpoint.
    token:
      type: http
      scheme: basic
      description: Your client id and secret to obtain a bearer token for cloud-cloud authentication.
    edge-cloud:
      type: http
      scheme: basic
      description: Basic credentials used for edge-cloud authentication. They can be obtained when creating a site.
x-tagGroups:
- name: Authentication
  tags:
  - authentication
- name: Managing resources
  tags:
  - sites
  - resources
- name: Markets
  tags:
  - markets
- name: Reporting flexibility
  tags:
  - baselining
  - creating_bids
  - metrics
- name: Activating flexibility
  tags:
  - accepting_bids
- name: Managing bids
  tags:
  - managing_bids
- name: Forecasting
  tags:
  - getting_forecasts
  - uploading_forecasts
  - events
- name: Sensor data
  tags:
  - sensor_data
- name: Historical Data
  tags:
  - historical_data
